<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User Information</h1>
    
    <form th:action="@{'/update/' + ${user.id}}" method="post" th:object="${user}">
        <p>
            <label for="name">Name:</label><br>
            <input type="text" id="name" th:field="*{name}" required size="40" />
        </p>

        <p>
            <label for="email">Email:</label><br>
            <input type="email" id="email" th:field="*{email}" required size="40" />
        </p>

        <p>
            <input type="submit" value="Update" />
            <a href="/">[Back to List]</a>
        </p>
    </form>
</body>
</html>
